/* styles.css */

/* Common styles for both divs */
div {
    background-color: Yellow;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

/* Styles for the first div (Flowers Photos) */
#f1 h1 {
    color: #333; /* Text color */
    font-size: 24px;
    margin-bottom: 10px;
}

#f1 p {
    color: #666; /* Text color */
    font-size: 16px;
}

/* Styles for the second div (Roses Pictures) */
#f2 h1 {
    color: #333; /* Text color */
    font-size: 24px;
    margin-bottom: 10px;
}

#f2 p {
    color: #666; /* Text color */
    font-size: 16px;
}
